In [20]:
import pandas as pd
import numpy as np

In [21]:
df = pd.read_csv('https://raw.githubusercontent.com/kinpkt/catlover-cs131-practice/refs/heads/main/practice_dataset/exam_data.csv')
df

    student_id gender  age  gpax  math1  math2  sci  phy  soc  eng  chn  jpn
0        42560      m   18  3.75      1      1    1    1    0    1    0    0
1        42572      f   18  3.82      1      1    0    1    1    1    0    1
2        42553      f   18  3.90      1      0    0    0    0    1    0    0
3        42549      f   21  4.00      0      0    1    0    1    1    0    1
4        43390      m   25  1.23      1      0    0    0    1    0    0    0
5        41080      m   16  3.33      1      1    0    0    0    1    0    0
6        46710      f   21  3.93      0      0    0    1    0    0    0    1
7        44444      f   19  3.39      1      0    0    0    1    0    0    1
8        45550      f   25  2.75      1      0    1    1    0    0    1    1
9        41140      f   23  2.31      1      1    1    0    0    0    0    1
10       41150      m   19  2.00      1      1    1    0    0    0    0    1
11       49982      m   19  2.01      0      0    0    1    1    0    1    1
12       49999      m   18  2.11      0      1    0    1    0    1    1    1
13       45409      f   18  1.50      1      0    1    0    0    0    1    1
14       43464      m   23  1.75      1      0    0    1    1    1    1    1
15       43501      m   21  1.98      0      1    1    0    1    0    1    1
16       40656      m   19  3.55      1      1    1    1    1    1    1    0
17       43060      f   17  3.53      1      1    1    0    0    0    1    1
18       48185      f   25  2.39      0      0    1    1    1    0    1    1
19       40684      m   21  1.23      1      0    0    0    0    0    1    1
20       46778      m   25  3.45      1      0    0    0    1    0    1    1
21       46780      m   19  3.85      1      0    1    0    1    0    1    1
22       47340      m   18  1.65      1      1    1    0    0    0    0    0
23       47591      f   18  3.01      1      1    1    0    1    1    0    0
24       48269      m   17  2.10      0      1    1    0    0    1    0    0
25       47078      m   25  1.80      0      0    0    1    1    0    1    0
26       49413      f   21  3.66      0      1    1    1    0    1    0    1
27       43358      m   24  2.36      0      1    1    0    1    1    1    0
28       49707      f   25  2.02      0      1    1    0    0    1    0    1
29       40419      m   16  3.41      1      1    1    0    0    0    1    1
30       42045      m   16  3.47      1      1    1    0    0    1    1    1
31       41224      f   18  2.65      1      0    1    0    1    1    0    0
32       49796      f   22  3.50      1      0    0    1    0    1    0    1
33       47049      f   23  3.85      0      1    1    1    1    0    0    1
34       49839      m   17  3.61      0      1    1    0    1    1    0    1
35       40035      m   19  3.36      1      0    0    0    1    0    1    0
36       46442      m   16  1.30      0      1    0    1    0    0    1    0
37       47963      m   24  3.98      0      0    1    0    0    1    1    0
38       44771      m   21  2.48      0      0    0    0    1    1    0    1
39       43307      f   16  1.41      1      1    1    0    1    1    1    0
40       49167      m   18  3.13      0      0    1    0    0    1    1    0
41       41177      f   22  3.49      1      1    0    0    1    1    1    0
42       46841      f   20  1.46      1      0    0    1    0    0    0    1
43       44544      m   19  3.19      1      1    0    1    1    1    0    1
44       49427      m   17  2.71      1      0    1    0    0    0    0    0
45       47285      f   16  4.00      1      1    1    0    1    0    0    0
46       40873      m   17  2.41      1      0    1    0    1    1    0    1
47       42679      m   18  3.41      0      0    1    1    1    1    1    0
48       41047      m   17  3.92      0      1    1    0    1    0    0    1
49       45166      f   19  3.51      0      1    1    0    1    0    1    0

**Part 1 : หาอายุเฉลี่ยของนักเรียนในสนามสอบนี้**

In [22]:
age_mean = np.mean(df.age)
print(f'Mean age for students = {age_mean}')

Mean age for students = 19.74

**Part 2 : หา S.D. ของเกรดเฉลี่ยนักเรียนในสนามสอบนี้**

In [23]:
# โจทย์ข้อนี้อาจตีความได้สองแบบ (คนคิดโจทย์ error เอง; อาจใช้สูตร S.D. ของประชากรหรือของตัวอย่างก็ได้)
sd_population = np.std(df.gpax)
sd_sample = np.std(df.gpax, ddof=1)

print(f'Population S.D. = {sd_population}\nSample S.D = {sd_sample}')

Population S.D. = 0.8862602100963352
Sample S.D = 0.8952580063641898

**Part 3 : หาวิชาที่นักเรียนที่สมัครมากและน้อยที่สุดและจำนวนนักเรียนที่สมัครวิชานั้น**

In [24]:
SUBJECTS = ['Math 1', 'Math 2', 'Science', 'Physics', 'Social Studies', 'English', 'Chinese', 'Japanese']

math1_count = sum(df.math1)
math2_count = sum(df.math2)
sci_count = sum(df.sci)
phy_count = sum(df.phy)
soc_count = sum(df.soc)
eng_count = sum(df.eng)
chn_count = sum(df.chn)
jpn_count = sum(df.jpn)

count_list = [math1_count, math2_count, sci_count, phy_count, soc_count, eng_count, chn_count, jpn_count]
max_count = max(count_list)
min_count = min(count_list)
max_subject = SUBJECTS[count_list.index(max_count)]
min_subject = SUBJECTS[count_list.index(min_count)]
print(f'The most registered subject is {max_subject} with {max_count} students.')
print(f'The least registered subject is {min_subject} with {min_count} students.')

The most registered subject is Science with 31 students.
The least registered subject is Physics with 17 students.

**Part 4 : เปรียบเทียบจำนวนเพศของนักเรียนในสนามสอบนี้**

In [25]:
df.gender.value_counts()

gender
m    29
f    21
Name: count, dtype: int64

จากข้อมูลในโค้ดข้างต้น จะสังเกตได้ว่ามีจำนวนนักเรียนชายเยอะกว่า โดยมีจำนวนเยอะกว่าอยู่ 29 - 21 = 7 คน

**Part 5 : หาอัตราส่วนเพศของนักเรียนในสนามสอบนี้**

In [26]:
print(29/21)

1.380952380952381

**Part 6 : เปรียบเทียบจำนวนนักเรียนที่สมัครสอบ Math 1 และ Math 2**

In [27]:
print(f'Math 1 students are {"more than" if math1_count > math2_count else "less than"} than Math 2 students.')

Math 1 students are more than than Math 2 students.

**Part 7 : เปรียบเทียบจำนวนนักเรียนที่สมัครสอบวิชาหมวดภาษา**

In [28]:
print(f'English = {eng_count}')
print(f'Chinese = {chn_count}')
print(f'Japanese = {jpn_count}')
print('Japanese is the most registered in all linguistic subjects.')

English = 25
Chinese = 24
Japanese = 29
Japanese is the most registered in all linguistic subjects.